:root {
  --main-bg-color: #f0fff1;
  --primary-font-color: #5296a5;
  --primary-color: #0a2e36;
  --secondary-color: #e88d67;
}

body {
  background-color: var(--main-bg-color);
  margin: 0;
  padding: 0;
  overflow-y: none;
  font-family: "Poppins", sans-serif;
}

h1 {
  display: block;
  color: var(--primary-color);
  height: 75px;
}

h2 {
  color: var(--secondary-color);
}

h3 {
  color: var(--primary-color);
}

p {
  color: var(--primary-font-color);
}

.low {
  background-color: #40dd1d;
  padding: 0 5px;
  text-align: center;
  border-radius: 25px;
  color: black;
}

.moderate {
  background-color: yellow;
  padding: 0 5px;
  text-align: center;
  border-radius: 25px;
  color: black;
}

.high {
  background-color: #de6449;
  padding: 0 5px;
  text-align: center;
  border-radius: 25px;
  color: black;
}

.danger {
  background-color: #a30b37;
  padding: 0 5px;
  text-align: center;
  border-radius: 25px;
  color: black;
}

.hud {
  background-color: var(--secondary-color);
  border-radius: 25px;
  padding: 10px;
  margin-top: -30px;
}

.display-all {
  background-color: var(--primary-color);
  border-radius: 25px;
  text-align: center;
}

.uv-rating {
  margin-left: 20px;
}
