:root {
  --main-bg-color: white;
  --secondary-bg-color: #344055;
  --primary-color: #266dd3;
  --secondary-color: #e88d67;
}

body {
  background-color: var(--main-bg-color);
  margin: 0;
  padding: 0;
  overflow-y: none;
  font-family: "Poppins", sans-serif;
}

h1 {
  display: block;
  color: var(--primary-color);
}

h2 {
  color: var(--secondary-color);
}

h3 {
  color: var(--primary-color);
}

.low {
  background-color: green;
  padding: 0 5px;
  text-align: center;
  border-radius: 25px;
}

.moderate {
  background-color: yellow;
  padding: 0 5px;
  text-align: center;
  border-radius: 25px;
}

.high {
  background-color: orange;
  padding: 0 5px;
  text-align: center;
  border-radius: 25px;
}

.danger {
  background-color: red;
  padding: 0 5px;
  text-align: center;
  border-radius: 25px;
}

.hud {
  background-color: var(--secondary-color);
  border-radius: 25px;
  padding: 10px;
}

.display-all {
  background-color: var(--primary-color);
  border-radius: 25px;
  text-align: center;
}

.uv-rating {
  margin-left: 20px;
}
